<!DOCTYPE html>
<html>
<head>
    <title>DJone - a python disc jockey</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    color: #333;
    padding: 20px;
}

/* Main container styling */
h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    padding:50px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 0.9rem;
    color: #555;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
}

form button,
form input[type="text"],
form input[type="submit"] {
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    outline: none;
    transition: border-color 0.3s;
}

form input[type="text"]:focus {
    border-color: #4a90e2;
}

form button,
form input[type="submit"] {
    background-color: #4a90e2;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #357ABD;
}

/* Loading message */
#loading {
    text-align: center;
    margin-top: 1rem;
    color: #888;
    font-style: italic;
    display: none; /* Initially hidden */
    padding:50px;
}

/* Data container styling */
#data-container {
    width: 100%;
    max-width: 600px;
    margin-top: 2rem;
    margin:50px;
}

#myList {
    list-style-type: none;
    padding: 0;
}

#myList li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    transition: transform 0.2s ease;
}

#myList li a {
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold;
}

#myList li a:hover {
    text-decoration: underline;
}


    </style>
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>

    <script>
        var YOUR_CLIENT_ID = '945610874524-6vajmjoc95hp92gunsp2al19qot0eucl.apps.googleusercontent.com';
        var YOUR_REDIRECT_URI = 'https://djone-mslf.onrender.com';
      
        // Parse query string to see if page request is coming from OAuth 2.0 server.
        var fragmentString = location.hash.substring(1);
        var params = {};
        var regex = /([^&=]+)=([^&]*)/g, m;
        while (m = regex.exec(fragmentString)) {
          params[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
        }
        if (Object.keys(params).length > 0 && params['state']) {
          if (params['state'] == localStorage.getItem('state')) {
            localStorage.setItem('oauth2-test-params', JSON.stringify(params) );
          } else {
            console.log('State mismatch.');
          }
        }

        function wait(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
      
        // Function to generate a random state value
        function generateCryptoRandomState() {
          const randomValues = new Uint32Array(2);
          window.crypto.getRandomValues(randomValues);
      
          // Encode as UTF-8
          const utf8Encoder = new TextEncoder();
          const utf8Array = utf8Encoder.encode(
            String.fromCharCode.apply(null, randomValues)
          );
      
          // Base64 encode the UTF-8 data
          return btoa(String.fromCharCode.apply(null, utf8Array))
            .replace(/\+/g, '-')
            .replace(/\//g, '_')
            .replace(/=+$/, '');
        }

         /*
         * Create form to request access token from Google's OAuth 2.0 server.
         */
         function oauth2SignIn() {
          // create random state value and store in local storage
          var state = generateCryptoRandomState();
          localStorage.setItem('state', state);
      
          // Google's OAuth 2.0 endpoint for requesting an access token
          var oauth2Endpoint = 'https://accounts.google.com/o/oauth2/v2/auth';
      
          // Create element to open OAuth 2.0 endpoint in new window.
          var form = document.createElement('form');
          form.setAttribute('method', 'GET'); // Send as a GET request.
          form.setAttribute('action', oauth2Endpoint);
      
          // Parameters to pass to OAuth 2.0 endpoint.
          var params = {'client_id': YOUR_CLIENT_ID,
                        'redirect_uri': YOUR_REDIRECT_URI,
                        'scope': 'https://www.googleapis.com/auth/youtube.force-ssl',
                        'state': state,
                        'include_granted_scopes': 'true',
                        'response_type': 'token'};
      
          // Add form parameters as hidden input values.
          for (var p in params) {
            var input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', p);
            input.setAttribute('value', params[p]);
            form.appendChild(input);
          }
      
          // Add form to page and submit it to open the OAuth 2.0 endpoint.
          document.body.appendChild(form);
          form.submit();
        }
      

        function insertInPlaylist(pid,vid) {
            return new Promise((resolve, reject) => {    
                var params = JSON.parse(localStorage.getItem('oauth2-test-params'));
                if (params && params['access_token']) {
                    var xhr = new XMLHttpRequest();
                    
                    let request = '{  "snippet": {   "playlistId": "'+pid+'",    "resourceId": {   "kind": "youtube#video",   "videoId": "'+vid+'"   }  }  }';
                    var xhr_v = new XMLHttpRequest();
                    xhr_v.open('POST',
                        'https://www.googleapis.com/youtube/v3/playlistItems?part=snippet%2Cstatus&access_token=' + params['access_token']);
                            
                    xhr_v.onreadystatechange = function (e) {
                        if (xhr_v.readyState === 4 && xhr_v.status === 200) {
                            console.log("playlistItems successful");
                            resolve();
                        }else {
                            throw new Error("playlistItems failed");
                        }
                    }
                    xhr_v.send(request);                    
                } else if (xhr.readyState === 4 && xhr.status === 401) {
                    oauth2SignIn();
                }
            });
        }
        
        function createPlaylist(video_ids) {
            return new Promise((resolve, reject) => {
                let pid = '';
                console.log(video_ids);
                var params = JSON.parse(localStorage.getItem('oauth2-test-params'));
                if (params && params['access_token']) {
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST','https://youtube.googleapis.com/youtube/v3/playlists?part=snippet%2Cstatus&access_token=' + params['access_token']);                                    
                            
                    xhr.onreadystatechange = async function (e) {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            let playlist_id = (JSON.parse(xhr.response)).id;
                            for(let i = 0; i < video_ids.length; i++) {
                                let success = false;
                                while(!success){
                                    try {
                                        await insertInPlaylist(playlist_id,video_ids[i]);                                      
                                        success = true;                                                
                                    }catch(err){                                    
                                        console.log("insert into playlist failed")
                                    }                                      
                                    await wait(1200);                       
                                }
                            }
                            
                            resolve(playlist_id);
                        } else if (xhr.readyState === 4 && xhr.status === 401) {
                            oauth2SignIn();
                        }
                    };
                    xhr.send('{     "snippet": {         "title": "DJone playlist",         "description": "no description",         "tags": [             "sample playlist",             "API call"         ],         "defaultLanguage": "en"     },     "status": {         "privacyStatus": "private"     } }');
                } else {
                    oauth2SignIn();
                }

            });
            
        }
      
        async function getYTIdsBySearchStrings(arr) {
            const ids = [];
            for (const searchString of arr) {
                const id = await getYouTubeIDbySearch(searchString);
                ids.push(id);
            }
            return ids;
        }

        async function getYouTubeIDbySearch(str) {
            return new Promise((resolve, reject) => {
                const params = JSON.parse(localStorage.getItem('oauth2-test-params'));

                if (!params || !params['access_token']) {
                    oauth2SignIn();
                    return reject("User is not authenticated");
                }

                const accessToken = params['access_token'];

                // Create a new XHR request
                const xhr = new XMLHttpRequest();
                xhr.open('GET', `https://www.googleapis.com/youtube/v3/search?part=snippet&q=${encodeURIComponent(str)}&type=video&maxResults=1&access_token=${accessToken}`, true);

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            if (response.items && response.items.length > 0) {
                                const videoId = response.items[0].id.videoId;
                                console.log("Video ID:", videoId);
                                resolve(videoId); // Resolve the promise with the video ID
                            } else {
                                console.log("No videos found.");
                                resolve(null); // Resolve with null if no video was found
                            }
                        } else if (xhr.status === 401) {
                            console.log("Unauthorized: Invalid or expired token.");
                            oauth2SignIn();
                            reject("Unauthorized access"); // Reject the promise if unauthorized
                        } else {
                            console.log("Error:", xhr.responseText);
                            reject("Error: " + xhr.responseText); // Reject with the error message
                        }
                    }
                };

                xhr.send();
            });
        }

      
      
      
      </script>


    <h1>DJone</h1>

    <div>

        <form id="oauthform">        
            <button onclick="oauth2SignIn()">YouTube - Login</button>
        </form>

        <form style="width:500px" method="POST" action="/">
            {{ form.csrf_token }}
            {{ form.name0.label }} {{ form.name0 }}<br />
            {{ form.name1.label }} {{ form.name1 }}<br />
            {{ form.name2.label }} {{ form.name2 }}<br />
            {{ form.name3.label }} {{ form.name3 }}<br />
            {{ form.name4.label }} {{ form.name4 }}<br /><br />
            {{ form.submit }}        
        </form>
        
    </div>  
    
    <div id="loading">
        ...loading...
    </div>

    <div id="data-container">
        <ol id="myList"></ol>
    </div>

    <script>
        var csrftoken = $('meta[name=csrf-token]').attr('content')

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })

        const testparams = JSON.parse(localStorage.getItem('oauth2-test-params'));
        if (testparams && testparams['access_token']) {
            $("#oauthform").css("display","none") 
        }



       $(document).ready(function() {
            $('form').submit(function(e) {
                e.preventDefault();  // Prevent form submission
                
                $('#loading').html("...loading... <br />please be patient, this may take a minute");
                $('#loading').show();
                $("#data-container #myList").html("");

                let vids = []

                // Collect form data
                var formData = {
                    name0: $('#name0').val(),
                    name1: $('#name1').val(),
                    name2: $('#name2').val(),
                    name3: $('#name3').val(),
                    name4: $('#name4').val(),
                };

                $.ajax({
                    url: '/',
                    type: 'POST',
                    data: formData,
                    dataType: 'json',
                    success: function(response) {
                        console.log(response)      
                        $('#loading').html("creating playlist... wait a moment");                  
			            
                        for(let i = 0; i < response.length; i++) {
                            //$("#myList").append($('<li>').html("<a target=\"_blank\" href='https://www.youtube.com/results?search_query="+response[s]+"'>"+response[s]+"</a>"));
                            //$("#myList").append($('<li>').html("<a target=\"_blank\" href='https://www.youtube.com/playlist?list="+response[s]+"'>Your DJone YouTube playlist</a>"));
                            vids.push(response[i])
                        }

                        getYTIdsBySearchStrings(vids).then( d => {
                            createPlaylist(d).then( x => {
                                $("#myList").append($('<li>').html("<a target=\"_blank\" href='https://www.youtube.com/playlist?list="+x+"'>Your DJone YouTube playlist</a>"));
                                console.log(x);
                                $('#loading').hide();
                            });                            
                        });

                        
                    },
                   error: function(xhr, status, error) {
                    	$("#loading").html("failed: error");
                        $("#loading").show();
                        console.log(error);
                   }
                });
            });
        });
    </script>
</body>
</html>
